@{
    ViewBag.Title = "About";
}

<div class="jumbotron" style="border:5px double lightblue;margin-top:40px;">
    <div class="container row text-center">
        <h2>-- Our Mission -- </h2>
        <h4>To provide a free platform for video uploads.</h4>
    </div>

    <div class="container row text-center">
        <h3>@ViewBag.Title</h3>
        <h4 class="text-justify" style="margin:50px;">@ViewBag.Message</h4>
        <h4 class="text-justify" style="margin:50px;">@ViewBag.Message</h4>
        <h4 class="text-justify" style="margin:50px;">@ViewBag.Message</h4>
    </div>
</div>
