@{
    ViewBag.Title = "Contact";
}

<div class="container" style="border:5px double darkblue;margin-top:40px;">
    <div class="col-md-5">
        <h2 style="margin-bottom:40px;">@ViewBag.Title</h2>

        <address>
            <h4>
                <span class="glyphicon glyphicon-map-marker"></span>
                National Stadium Rd,<br />
                Karsaz Faisal Cantonment,<br />
                Karachi City, Sindh<br /><br />
                <span class="glyphicon glyphicon-phone"></span>  <abbr title="Phone">Phone:</abbr>
                +92 21 99240002-6 &nbsp; Ext: 219
            </h4>
        </address>

        <address>
            <span class="glyphicon glyphicon-envelope"></span>   <strong>Email:</strong>   <a href="mailto:afsaharshad.34@gmail.com">Support@example.com</a><br />
        </address>
        <p>
            Follow us &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="fa fa-facebook-square"></span>&nbsp;&nbsp;
            <span class="fa fa-linkedin-square"></span>&nbsp;&nbsp;
            <span class="fa fa-twitter-square"></span>
        </p>
    </div>

    <div class="col-md-5" style="margin:20px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14476.547112439233!2d67.0881958!3d24.8933157!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf50bdb260e451aa8!2sBahria%20University%20Karachi%20Campus!5e0!3m2!1sen!2s!4v1570105360369!5m2!1sen!2s" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>

</div>